@charset "utf-8";
/*--------------------------------------------------

common setting

--------------------------------------------------*/

html, body {
	height: 100%;
	font-size: 13px;
}
body, th, td {
	text-decoration: none;
	-webkit-text-size-adjust: 100%;
}
a:link, a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
/*--------------------------------------------------

layout tools

--------------------------------------------------*/



.clearfix {
	zoom:1;/*for IE 5.5-7*/
}
.clearfix:after {
	content: " ";
	display: block;
	visibility: hidden;
	height: 0.1px;
	clear: both;
	font-size: 0.1em;
	line-height: 0;
}
* html .clearfix {
	display: inline-block;
}
/* no ie mac \*/

* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
/* */



.clear {
	clear:both;
}
.left {
	text-align:left;
}
.center {
	text-align:center;
}
.right {
	text-align:right;
}
.FLLeft {
	float:left;
}
.FLRight {
	float:right;
}
/*--------------------------------------------------

font

--------------------------------------------------*/



body {
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size:13px;
	-webkit-text-size-adjust: none;
	color:#444;
}
/* link color */

a, a:link, a:visited {
	color:#393333;/*	text-decoration:underline;*/

}
a:hover {
	text-decoration:none;
}
/*--------------------------------------------------

 フォントサイズの指定はYUI Fontsに基づき
 下記テーブルで指定します

 |px|%|

 |10|77|

 |11|85|

 |12|93|

 |13|100|

 |14|108|

 |15|116|

 |16|123.1|

 |17|131|

 |18|138.5|

 |19|146.5|

 |20|153.9|

 |21|161.6|

 |22|167|

 |23|174|

 |24|182|

 |25|189|

 |26|197|



 ex) 12px

 element {

 	font-size: 93%;

 }

--------------------------------------------------*/



.f10 {
	font-size:77%;
}
.f11 {
	font-size:85%;
}
.f12 {
	font-size:93%;
}
.f13 {
	font-size:100%;
} /*default*/
.f14 {
	font-size:108%;
}
.f15 {
	font-size:116%;
}
.f16 {
	font-size:123.1%;
}
.f17 {
	font-size:131%;
}
.f18 {
	font-size:138.5%;
}
.f19 {
	font-size:146.5%;
}
.f20 {
	font-size:153.9%;
}
.f21 {
	font-size:161.6%;
}
.f22 {
	font-size:167%;
}
.f23 {
	font-size:174%;
}
.f24 {
	font-size:182%;
}
.f25 {
	font-size:189%;
}
.f26 {
	font-size:197%;
}
/*--------------------------------------------------

space

--------------------------------------------------*/

.mAuto {
	margin:0 auto;
}
/* margin set */

.t0 {
	margin-top:0 !important;
}
.t5 {
	margin-top:5px;
}
.t10 {
	margin-top:10px;
}
.t15 {
	margin-top:15px;
}
.t20 {
	margin-top:20px;
}
.t25 {
	margin-top:25px;
}
.t30 {
	margin-top:30px;
}
.t35 {
	margin-top:35px;
}
.t40 {
	margin-top:40px;
}
.t45 {
	margin-top:45px;
}
.t50 {
	margin-top:50px;
}
.l0 {
	margin-left:0 !important;
}
.l5 {
	margin-left:5px;
}
.l10 {
	margin-left:10px;
}
.l15 {
	margin-left:15px;
}
.l20 {
	margin-left:20px;
}
.l25 {
	margin-left:25px;
}
.l30 {
	margin-left:30px;
}
.l35 {
	margin-left:35px;
}
.l40 {
	margin-left:40px;
}
.l45 {
	margin-left:45px;
}
.l50 {
	margin-left:50px;
}
.r0 {
	margin-right:0 !important;
}
.r5 {
	margin-right:5px;
}
.r10 {
	margin-right:10px;
}
.r15 {
	margin-right:15px;
}
.r20 {
	margin-right:20px;
}
.r25 {
	margin-right:25px;
}
.r30 {
	margin-right:30px;
}
.r35 {
	margin-right:35px;
}
.r40 {
	margin-right:40px;
}
.r45 {
	margin-right:45px;
}
.r50 {
	margin-right:50px;
}
.m0 {
	margin-bottom:0 !important;
}
.m5 {
	margin-bottom:5px;
}
.m10 {
	margin-bottom:10px;
}
.m15 {
	margin-bottom:15px;
}
.m20 {
	margin-bottom:20px;
}
.m25 {
	margin-bottom:25px;
}
.m30 {
	margin-bottom:30px;
}
.m35 {
	margin-bottom:35px;
}
.m40 {
	margin-bottom:40px;
}
.m45 {
	margin-bottom:45px;
}
.m50 {
	margin-bottom:50px;
}
/* padding set */

.p0 {
	padding-bottom:0 !important;
}
.p5 {
	padding-bottom:5px;
}
.p10 {
	padding-bottom:10px;
}
.p15 {
	padding-bottom:15px;
}
.p20 {
	padding-bottom:20px;
}
.p25 {
	padding-bottom:25px;
}
.p30 {
	padding-bottom:30px;
}
.p35 {
	padding-bottom:35px;
}
.p40 {
	padding-bottom:40px;
}
.p45 {
	padding-bottom:45px;
}
.p50 {
	padding-bottom:50px;
}
.pt0 {
	padding-top:0 !important;
}
.pt5 {
	padding-top:5px;
}
.pt10 {
	padding-top:10px;
}
.pt15 {
	padding-top:15px;
}
.pt20 {
	padding-top:20px;
}
.pt25 {
	padding-top:25px;
}
.pt30 {
	padding-top:30px;
}
.pt35 {
	padding-top:35px;
}
.pt40 {
	padding-top:40px;
}
.pt45 {
	padding-top:45px;
}
.pt50 {
	padding-top:50px;
}
.pl0 {
	padding-left:0 !important;
}
.pl5 {
	padding-left:5px;
}
.pl10 {
	padding-left:10px;
}
.pl15 {
	padding-left:15px;
}
.pl20 {
	padding-left:20px;
}
.pl25 {
	padding-left:25px;
}
.pl30 {
	padding-left:30px;
}
.pl35 {
	padding-left:35px;
}
.pl40 {
	padding-left:40px;
}
.pl45 {
	padding-left:45px;
}
.pl50 {
	padding-left:50px;
}
.pr0 {
	padding-right:0 !important;
}
.pr5 {
	padding-right:5px;
}
.pr10 {
	padding-right:10px;
}
.pr15 {
	padding-right:15px;
}
.pr20 {
	padding-right:20px;
}
.pr25 {
	padding-right:25px;
}
.pr30 {
	padding-right:30px;
}
.pr35 {
	padding-right:35px;
}
.pr40 {
	padding-right:40px;
}
.pr45 {
	padding-right:45px;
}
.pr50 {
	padding-right:50px;
}





/*--------------------------------------------------

imageWidth

--------------------------------------------------*/



@media screen and (max-width: 640px) {
.imgWidth {
	width:100%;
}
}
/*--------------------------------------------------

Link

--------------------------------------------------*/



.blankLink {
	background:url("/common/images/ico_link01.gif") no-repeat scroll right 8px transparent;
	padding-right:20px;
}
